name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  required:
    name: Required
    needs: [coverage, test]
    runs-on: ubuntu-latest

    steps:
      - name: Status of workflow jobs
        run: echo 'All jobs in this workflow have successfully run'

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    needs: test

    env:
      MIX_ENV: test

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Set up Elixir
      id: setup-beam
      uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
      with:
        version-file: '.tool-versions'
        version-type: 'strict'
    - name: Cache dependencies
      id: cache-deps
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        path: |
          _build
          deps
        key: ${{ runner.os }}-${{ env.MIX_ENV }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ steps.setup-beam.outputs.otp-version }}-${{ hashFiles('**/mix.lock') }}
        restore-keys: ${{ runner.os }}-${{ env.MIX_ENV }}-${{ steps.setup-beam.outputs.elixir-version }}-${{ steps.setup-beam.outputs.otp-version }}-
    - name: Install and compile dependencies
      if: steps.cache-deps.outputs.cache-hit != 'true'
      run: mix do deps.get --only ${{ env.MIX_ENV }} + deps.compile
    - name: Compile code
      run: mix compile
    - name: Generate code coverage
      run: mix coveralls.lcov
    - name: Upload coverage reports to Coveralls
      uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2.3.7

  test:
    name: Tests (Elixir ${{ matrix.elixir }} / OTP ${{ matrix.otp }})
    runs-on: ubuntu-latest

    strategy:
      matrix:
        otp: ['25', '26', '27', '28']
        elixir: ['1.15', '1.16', '1.17', '1.18', '1.19']
        exclude:
          - elixir: '1.15'
            otp: '27'
          - elixir: '1.15'
            otp: '28'
          - elixir: '1.16'
            otp: '27'
          - elixir: '1.16'
            otp: '28'
          - elixir: '1.17'
            otp: '28'
          - elixir: '1.18'
            otp: '28'
          - elixir: '1.19'
            otp: '25'
        include:
          - elixir: '1.19'
            otp: '28'
            lint: true

    env:
      MIX_ENV: test

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Set up Elixir
      uses: erlef/setup-beam@e6d7c94229049569db56a7ad5a540c051a010af9 # v1.20.4
      with:
        elixir-version: ${{matrix.elixir}}
        otp-version: ${{matrix.otp}}
    - name: Cache dependencies
      id: cache-deps
      uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
      with:
        path: |
          _build
          deps
        key: ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.otp }}-${{ hashFiles('**/mix.lock') }}
        restore-keys: ${{ runner.os }}-${{ matrix.elixir }}-${{ matrix.otp }}-
    - name: Install and compile dependencies
      if: steps.cache-deps.outputs.cache-hit != 'true'
      run: mix do deps.get + deps.compile
    - name: Check that files are formatted
      run: mix format --check-formatted
      if: ${{ matrix.lint }}
    - name: Check for unused dependencies
      run: mix deps.unlock --check-unused
      if: ${{ matrix.lint }}
    - name: Compile code
      run: mix compile --warnings-as-errors
    - name: Run static code analysis
      run: mix credo --strict
      if: ${{ matrix.lint }}
    - name: Run tests
      run: mix test --warnings-as-errors
